MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }}
MYSQL_DATABASE={{ MYSQL_DATABASE }}
MYSQL_USER={{ MYSQL_USER }}
MYSQL_PASSWORD={{ MYSQL_PASSWORD }}
MYSQL_USER_SITE={{ MYSQL_USER_SITE }}
MYSQL_PASSWORD_SITE={{ MYSQL_PASSWORD_SITE }}
MYSQL_NAME_LINK={{ MYSQL_NAME_LINK }}